---
import Card from './Card.astro';

const title1 = "Vision";
const vission = "Our vision is to live in a world we want to live in rather than a world we have to live in.";

const title2 = "Services";
const services = "We offer custom software development for anything you can envision";

const title3 = "Why Us?";

const title4 = "Contact";
---

<div class="mainBody">
    <p class="motto">Imagine Software Consultancy</p> 
    <p class="header-title">~ Bringing your imagination to life ~</p>
    <div class="cardContainer">
        <Card title={title1} body={vission}/>
        <Card title={title2} body={services}/>
        <Card title={title3}/>
        <Card title={title4}/>
    </div>
</div>

<style>
    :root {
        --black: #2C2E43;
        --blaack: #000000;
        --darkGray: #595260;
        --lightGray: #B2B1B9;
        --yellow: #FFD523;
    }

	.mainBody {
		background: var(--black);
		width:100vw;
		height:90vh;
        margin:0;

	}
    .motto {
        background:linear-gradient(90deg, var(--yellow), var(--lightGray));
        margin:0;
        font-size:3rem;
        text-align:center;
        -webkit-background-clip:text;
        color:transparent;
        font-weight:900;
    }

    .cardContainer {
        align-items:center;
        flex-direction:row;
        display:flex;
    }

    @keyframes rainbow { 
        0%{background-position:0%}
        25%{background-position:50%;text-shadow: 0px 0px 20px var(--yellow);}
        50%{background-position:100%}
        75%{background-position:150%}
        100%{background-position:200%}

    }

    .header-title {
        padding:5vh;
        background: radial-gradient(ellipse at center, var(--yellow) 0, var(--darkGray) 45%, var(--yellow) 95%);
        background-size: 200% 200%;
        background-position: 150%;
        -webkit-background-clip:text;
        -webkit-text-stroke-width: .001px;
        -webkit-text-stroke-color: rgba(0,0,0,.2);
        color:transparent;
        font-size:2.5rem;
        text-align:center;
        transition: color .2s ease-in-out;
        font-weight:900;
        letter-spacing: 3px;
        /* width:100%; */
        margin:0;
    }

    .header-title:hover{
        animation: rainbow 10s linear infinite;
    }
</style>